---
import Header from "@components/Header.astro";
import Gradient from "@components/Gradient.astro";

import "@fontsource/lexend-deca";

export interface Props {
  title?: string;
  description?: string;
  heroImage?: string;
  imageAlt?: string;
}

const defaultMeta = {
  title: "Lance Ross",
  description: "A student web dev in Philippines.",
  image: "banner.png",
  imageAlt: "Marnie from Pokemon Journeys",
};

const { title = defaultMeta.title, description = defaultMeta.description, heroImage = defaultMeta.image, imageAlt = defaultMeta.imageAlt } = Astro.props as Props;

const ImageURL = new URL(`/assets/${heroImage}`, Astro.site);
const canonicalURL = new URL(Astro.url).href;
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <title>{title}</title>
    <link rel="canonical" href={canonicalURL} />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ImageURL} />
    <meta property="og:image:alt" content={imageAlt} />
    <meta property="og:site_name" content="Lance Ross" />
    <meta property="og:locale" content="en_US" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta name="twitter:site" content="@lancerossdev" />
    <meta name="twitter:creator" content="@lancerossdev" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ImageURL} />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="follow, index" />
    <meta name="author" content="Lance Ross" />
    <meta name="theme-color" data-react-helmet="true" content="#5ad2f4" />
    <script>
      const open = document.querySelector(".open");
      const close = document.querySelector(".close");
      open.addEventListener("click", function () {
        document.querySelector(".navbar").classList.replace("w-0", "w-screen");
        document.querySelector("body").classList.replace("overflow-auto", "overflow-y-hidden");
      });

      close.addEventListener("click", function () {
        document.querySelector(".navbar").classList.replace("w-screen", "w-0");
        document.querySelector("body").classList.replace("overflow-y-hidden", "overflow-auto");
      });
    </script>
    <script is:inline>
      // credits to satnaing on github
      const primaryColorScheme = "none";
      const darkModeMediaQuery = window.matchMedia("(prefers-color-scheme: dark)").matches;
      const currentTheme = localStorage.getItem("theme");
      let theme;
      if (currentTheme) {
        theme = currentTheme === "dark" ? "dark" : "";
      } else {
        if (primaryColorScheme === "dark" || (primaryColorScheme === "none" && darkModeMediaQuery)) {
          theme = "dark";
        } else if (primaryColorScheme === "light") {
          theme = "";
        } else {
          theme = darkModeMediaQuery ? "dark" : "";
        }
      }
      document.documentElement.className = theme;
    </script>
    <script>
      const themeBtn = document.querySelector(".theme-toggle");
      const htmlClassList = document.documentElement.classList;
      themeBtn.addEventListener("click", function () {
        if (htmlClassList.contains("dark")) {
          localStorage.setItem("theme", "light");
          htmlClassList.remove("dark");
        } else {
          localStorage.setItem("theme", "dark");
          htmlClassList.add("dark");
        }
      });
    </script>
  </head>
  <body class="transition scrollbar-thin scrollbar-thumb-zinc-400 scrollbar-track-zinc-300 dark:scrollbar-thumb-[#454b5f] dark:scrollbar-track-[#1d1f2a] dark:bg-[#101218] dark:text-white font-lexend-deca selection:bg-[#3d94ff42] min-h-screen flex flex-col text-xl overflow-auto">
    <Header />
    <main class="m-auto p-6 max-w-4xl md:p-10 md:px-20">
      <slot />
    </main>
    <footer class="grid place-items-center py-7 bg-[#181a23] text-white text-base">
      <p>Designed and built by Lance Ross</p>
      <p>Built using Astro and Tailwind CSS</p>
    </footer>
  </body>
</html>
