---
import "@fontsource/lexend-deca";
export interface Props {
  title?: string;
  description?: string;
}

const defaultMeta = {
  title: "404 Error",
  description: "Yeah, it doesn't exist.",
};

const { title = defaultMeta.title, description = defaultMeta.description } = Astro.props as Props;
const canonicalURL = new URL(Astro.url).href;
---

<!DOCTYPE html>
<html lang="en-US" class="font-lexend-deca selection:bg-[#3dff9e] selection:text-black">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <title>{title}</title>
    <link rel="canonical" href={canonicalURL} />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="antialiased dark:bg-[#101218] dark:text-white m-0 min-h-screen flex flex-col text-xl overflow-y-hidden">
    <main class="m-auto p-8 max-w-4xl md:p-10 text-center">
      <slot />
    </main>
  </body>
</html>
